<div class="w-full">
    <img src={{#if cardImageURL}}{{cardImageURL}}{{else}}https://cdn.shopify.com/s/files/1/0297/6313/files/apply.png?v=1562711378{{/if}} alt="">
    <div>
    <h3>{{cardTitle}}</h3>
    <p>{{cardContent}}</p>
    </div>
</div>