{{$hero:= .Scratch.Get "image" }}
{{ $image := .Page.Resources.GetMatch (printf "%s" $hero )  }}
{{ $img := imageConfig "content/hero.jpg" }}

{{ $image32 := $image.Resize "32x" }}
{{ $image480 := $image.Resize "480x" }}
{{ $image800 := $image.Resize "800x" }}
{{ $image1300 := $image.Resize "1300x" }}
{{ $image1920 := $image.Resize "1920x" }}

<img class="rounded shadow-lg max-w-xl" 
    sizes="(min-width:960px) 50vw, 100vw"
    src="data:image/jpeg;base64,{{ $image32.Content | base64Encode }}" 
    srcset="{{ $image480.RelPermalink }} 480w, {{ $image800.RelPermalink }} 800w,{{ $image1300.RelPermalink }} 1300w, {{ $image1920.RelPermalink }} 1920w"
    {{ with $image.Title }} alt="{{.}}" {{ end }}>

