<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Start Google Tag Manager -->
  {{ partial "head/google-tag-manager" . }}
      <!-- End Google Tag Manager -->
  <!-- All the meta tags below will come under this partial -->

  {{ partial "head/meta" . }} 
  <link rel="icon" href="/images/favicon.svg">
  {{ $style := resources.Get "scss/global.scss" | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  {{ $prism := resources.Get "css/prism.css" | minify }}
  <link rel="stylesheet" href="{{ $prism.RelPermalink }}" />
  {{ $tailwind := resources.Get "css/tailwind.css" | minify }}
  <link rel="stylesheet" href="{{ $tailwind.RelPermalink }}" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather&display=swap" rel="stylesheet">
  

  
  {{ with .Params.forestry_instant_preview_id }}
  {{- safeHTML (printf "<meta property='forestry_instant_preview_id' content='%s'>" .) -}}
  {{ end -}}


  {{ partial "head/mailerlite-script" . }}
</head>