<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

{{ partial "head/head.html" . }}
<body class="line-numbers">

    {{ $script := resources.Get "js/initColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    <div class="layout-styled px-4">
        {{ block "header" . }}

            {{ partial "header.html" .  }}

        {{ end }}
        
        {{ block "main" . }}
        
        {{ end }}
        
        {{ block "footer" . }}
            {{ partial "footer.html" . }}
        {{ end }}
    </div>
    {{ $script := resources.Get "js/toggleLogos.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
    
    {{ $script := resources.Get "js/toggleColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
    
    {{ $script := resources.Get "js/copyUrl.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    {{ $script := resources.Get "js/prism.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
</body>

</html>