<html prefix="og: http://ogp.me/ns#" lang="{{ .Language }}">

{{ partial "head/head.html" . }}

<body class="line-numbers">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5F3VZW7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    {{ $script := resources.Get "js/initColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    <div class="layout-styled px-4 {{with .Site.Params.debugGrid}}debug-grid-16{{end}}">
        {{ block "header" . }}

        {{ partial "header.html" .  }}

        {{ end }}

        {{ block "main" . }}

        {{ end }}

        {{ block "footer" . }}
        {{ partial "footer.html" . }}
        {{ end }}
    </div>
    {{ with .Site.Params.addNovelaScripts }}
    {{ $script := resources.Get "js/toggleLogos.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    {{ $script := resources.Get "js/toggleColors.js" }}
    <script src="{{ $script.RelPermalink }}"></script>

    {{ $script := resources.Get "js/copyUrl.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
    {{ end }}

    {{ with .Params.codeHighlighting }}
    <script>console.log('code highlighting active')</script>
    {{ $script := resources.Get "js/prism.js" }}
    <script src="{{ $script.RelPermalink }}"></script>
    {{end}}

    {{ with .Site.Params.addSnipcart }}
    <div id="snipcart" data-api-key="Yjk3ZGQ2MjYtNmVhZC00ODU2LTliZmUtZmZhMmQxZmY2YzBkNjM3MjE3MDgwOTkyOTE3MTc5" hidden>
    </div>
    <script src="https://cdn.snipcart.com/themes/v3.0.12/default/snipcart.js"></script>
    {{ end }}
</body>

</html>