{{ define "header" }}
<!--Empty-->
{{ end  }}

{{ define "main" }}

<section class="container mx-auto flex py-16 md:pt-64 md:pb-0 justify-between flex-col flex-col-reverse  md:flex-row">
    <div class="col md:w-6/12 merriweather text-gray-900 mt-8 md:mt-0">
        <h1 class="text-4xl">{{.Params.heading}}</h1>
        <div class="mt-8 text-2xl leading-normal">{{ .Content }}</div>

        <div class="flex space-x-4 mt-8">
            <a class="py-2 px-4 rounded bg-indigo-400 text-white" href="/articles">Articles</a>
        </div>

        {{if .Params.showMailingList }}
        {{ partial "subscription/squarespace-subscription.html" . }}
    {{ end }}
    </div>
    <div class="col md:w-5/12">
        <img class="rounded-lg shadow-lg" src="{{.Params.hero}}">
    </div>
</section>

{{ end }}

{{ define "footer" }}
<!--Empty-->
{{ end }}