{{ define "main" }}
<!--Squarespace Single.html-->
<section class="pt-16 md:pt-20 container mx-auto">
    {{ partial "article/hero.html" . }}

    <!-- Hide Progress Bar 
    {{ partial "article/progress.html" . }}
    -->    

    <article id="articleContent" class="mt-12 flex flex-col items-center">
        {{ .Content }}
    </article>
    {{ template "_internal/disqus.html" . }}

   <!-- Hide related articles 
    {{ partial "article/next.html" . }}
   -->

</section>  

{{ with .Site.Params.addNovelaScripts }}
{{ $script := resources.Get "js/progressBar.js" }}
 <script src="{{ $script.RelPermalink }}"></script>
{{ end }}

{{ end }}