{{define "main" }}

<div class="container mx-auto">
    <h1 class="text-3xl md:text-5xl md:mt-16 font-bold mt-8 ">{{.Params.Title}}</h1>
    <div class="mt-8">
        {{.Content}}
    </div>

    <div class="mt-8 flex flex-col space-y-12 md:space-y-0 md:flex-row">
        
        {{range .Site.Taxonomies.categories}}
        <div class="space-y-2 md:space-y-6 flex-1">
            {{ partial "ryan/article-list-heading" . }}
                <div class="space-y-5">
                    {{ range .Pages }}
                    {{ partial "ryan/article-list-item.html" . }}
                    {{ end }}
                </div>
        </div>

        {{end}}


    </div>

</div>


{{ end }}