{{ define "header" }}

{{end}}
{{ define "main" }}
<!--Squarespace Single.html-->
<section class="pt-16 md:pt-20 container mx-auto">
    {{ partial "article/hero.html" . }}

    <!-- Hide Progress Bar 
    {{ partial "article/progress.html" . }}
    -->

    <article id="articleContent" class="mt-12 flex flex-col items-center">
        {{ .Content }}
        {{if .Params.showMailingList}}
        <div class="mx-auto max-w-lg h-auto">
            {{ partial "subscription/squarespace-subscription.html" . }}
        </div>
        {{end}}
    </article>


    {{ if .Params.showDisqus }}
    {{ template "_internal/disqus.html" . }}
    {{ end }}
    
    {{ if .Params.showRelated }}
    {{ partial "article/next.html" . }}
    {{ end }}

    {{ if .Params.showPrevNext}}
    {{ if .NextInSection }} <a href="{{.NextInSection.Permalink}}">Previous Post</a> {{ end }} {{ if .PrevInSection }} <a href="{{.PrevInSection.Permalink}}">Next Post: {{.PrevInSection.Title}}</a> {{ end }}
    {{ end }}
</section>

{{ with .Site.Params.addNovelaScripts }}
{{ $script := resources.Get "js/progressBar.js" }}
<script src="{{ $script.RelPermalink }}"></script>
{{ end }}

{{ end }}