{{!-- Cart Overlay Container --}}
<div class="max-w-sm shadow-md rounded px-4 py-4 space-y-6">

{{!-- Cart Title Container --}}
<span class="text-lg font-medium">Cart</span>
{{!-- Cart List Container --}}
<div class="divide-y-2">
        {{!-- Cart Item Container --}}
        <div class="flex py-2">
            {{!-- Cart Item Image --}}
            <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.0688 20.0145L15.9316 10.7087" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M40.1375 31.8485V17.5044C40.1369 16.8756 39.9709 16.2579 39.6562 15.7135C39.3415 15.169 38.8891 14.7169 38.3445 14.4025L25.7934 7.23044C25.2483 6.9157 24.6299 6.75 24.0004 6.75C23.3709 6.75 22.7525 6.9157 22.2074 7.23044L9.6563 14.4025C9.11169 14.7169 8.65934 15.169 8.34464 15.7135C8.02993 16.2579 7.86393 16.8756 7.86328 17.5044V31.8485C7.86393 32.4774 8.02993 33.095 8.34464 33.6394C8.65934 34.1839 9.11169 34.636 9.6563 34.9504L22.2074 42.1225C22.7525 42.4372 23.3709 42.6029 24.0004 42.6029C24.6299 42.6029 25.2483 42.4372 25.7934 42.1225L38.3445 34.9504C38.8891 34.636 39.3415 34.1839 39.6562 33.6394C39.9709 33.095 40.1369 32.4774 40.1375 31.8485Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.34668 15.6395L23.9997 24.6942L39.6527 15.6395" stroke="black" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24 42.75V24.6764" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            {{!-- Cart Item Text --}}
            <div class="flex w-full justify-between ml-2">
    
                <div class="flex flex-col">
                    <span class="text-md">iPhone XR</span>
                    <span class="text-sm text-gray-600">Apple</span>
                </div>
    
                <div class="flex flex-col items-end">
                    <span class="font-medium">$699</span>
                    <span class="text-sm text-gray-600">Quantity: 1</span>
                </div>
            </div>
        </div>
        {{!-- Cart Item Container --}}
        <div class="flex py-2">
            {{!-- Cart Item Image --}}
            <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.0688 20.0145L15.9316 10.7087" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M40.1375 31.8485V17.5044C40.1369 16.8756 39.9709 16.2579 39.6562 15.7135C39.3415 15.169 38.8891 14.7169 38.3445 14.4025L25.7934 7.23044C25.2483 6.9157 24.6299 6.75 24.0004 6.75C23.3709 6.75 22.7525 6.9157 22.2074 7.23044L9.6563 14.4025C9.11169 14.7169 8.65934 15.169 8.34464 15.7135C8.02993 16.2579 7.86393 16.8756 7.86328 17.5044V31.8485C7.86393 32.4774 8.02993 33.095 8.34464 33.6394C8.65934 34.1839 9.11169 34.636 9.6563 34.9504L22.2074 42.1225C22.7525 42.4372 23.3709 42.6029 24.0004 42.6029C24.6299 42.6029 25.2483 42.4372 25.7934 42.1225L38.3445 34.9504C38.8891 34.636 39.3415 34.1839 39.6562 33.6394C39.9709 33.095 40.1369 32.4774 40.1375 31.8485Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.34668 15.6395L23.9997 24.6942L39.6527 15.6395" stroke="black" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24 42.75V24.6764" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            {{!-- Cart Item Text --}}
            <div class="flex w-full justify-between ml-2">
    
                <div class="flex flex-col">
                    <span class="text-md">iPhone XR</span>
                    <span class="text-sm text-gray-600">Apple</span>
                </div>
    
                <div class="flex flex-col items-end">
                    <span class="font-medium">$699</span>
                    <span class="text-sm text-gray-600">Quantity: 1</span>
                </div>
            </div>
        </div> 
        {{!-- Cart Item Container --}}
        <div class="flex py-2">
            {{!-- Cart Item Image --}}
            <svg width="48" height="49" viewBox="0 0 48 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M32.0688 20.0145L15.9316 10.7087" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
                <path
                    d="M40.1375 31.8485V17.5044C40.1369 16.8756 39.9709 16.2579 39.6562 15.7135C39.3415 15.169 38.8891 14.7169 38.3445 14.4025L25.7934 7.23044C25.2483 6.9157 24.6299 6.75 24.0004 6.75C23.3709 6.75 22.7525 6.9157 22.2074 7.23044L9.6563 14.4025C9.11169 14.7169 8.65934 15.169 8.34464 15.7135C8.02993 16.2579 7.86393 16.8756 7.86328 17.5044V31.8485C7.86393 32.4774 8.02993 33.095 8.34464 33.6394C8.65934 34.1839 9.11169 34.636 9.6563 34.9504L22.2074 42.1225C22.7525 42.4372 23.3709 42.6029 24.0004 42.6029C24.6299 42.6029 25.2483 42.4372 25.7934 42.1225L38.3445 34.9504C38.8891 34.636 39.3415 34.1839 39.6562 33.6394C39.9709 33.095 40.1369 32.4774 40.1375 31.8485Z"
                    stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M8.34668 15.6395L23.9997 24.6942L39.6527 15.6395" stroke="black" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round" />
                <path d="M24 42.75V24.6764" stroke="black" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" />
            </svg>
            {{!-- Cart Item Text --}}
            <div class="flex w-full justify-between ml-2">
    
                <div class="flex flex-col">
                    <span class="text-md">iPhone XR</span>
                    <span class="text-sm text-gray-600">Apple</span>
                </div>
    
                <div class="flex flex-col items-end">
                    <span class="font-medium">$699</span>
                    <span class="text-sm text-gray-600">Quantity: 1</span>
                </div>
            </div>
        </div>
</div>
{{!-- End Cart List Container --}}

{{!-- Cart SubTotal Container --}}
<div class="flex justify-end items-baseline space-x-4">
    <span class="text-xs text-gray-500">Subtotal</span>
    <span class="font-medium">$2097</span>
</div>
{{!-- Checkout Button --}}
    <button class="bg-gray-500 text-white w-full py-2 rounded font-bold">Checkout</button>
</div>