{{ define "main" }}
<!--Squarespace Single.html-->
<section class="pt-40 container mx-auto">

    {{ partial "article/hero.html" . }}

    <!-- Hide Progress Bar 
    {{ partial "article/progress.html" . }}
    -->    

    <article id="articleContent" class="mt-20 flex flex-col items-center">
        {{ .Content }}
    </article>
    {{ template "_internal/disqus.html" . }}
    {{ partial "article/next.html" . }}
</section>  

{{ $script := resources.Get "js/progressBar.js" }}
 <script src="{{ $script.RelPermalink }}"></script>
{{ end }}